In [1]:
import numpy as np
import pandas as pd

In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests

page = requests.get(r'https://www.espncricinfo.com/records/highest-career-batting-average-282910')

soup1 = BeautifulSoup(page.content, 'html.parser')
soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

In [6]:
tables = soup2.find_all('table')
len(tables)

1

In [7]:
table = tables[0]

In [12]:
import io

table_io = io.StringIO(str(table))
df = pd.read_html(table_io)

In [19]:
df = pd.DataFrame(df[0])

In [20]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

In [25]:
df = df.rename(columns={'NO':'not_out', 'HS':'highest_inns_score',
                         'Mat':'matches_played', 'Ave':'batting_average',
                         'Runs':'runs_scored', 'SR':'batting_strike_rate',
                         '100':'hundreds_scored', '50':'fifties_scored',
                         '0':'ducks_scored', '4s':'boundary_fours',
                         '6s':'boundary_sixes', 'BF':'balls_faced'
                         })

df.head()

,Player,Span,matches_played,Inns,not_out,runs_scored,highest_inns_score,batting_average,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

In [30]:
df.isna().sum()

Player                 0
Span                   0
matches_played         0
Inns                   0
not_out                0
runs_scored            0
highest_inns_score     0
batting_average        0
balls_faced            0
batting_strike_rate    0
hundreds_scored        0
fifties_scored         0
ducks_scored           0
boundary_fours         0
boundary_sixes         0
dtype: int64

In [32]:
df['Player'].duplicated().any()

False