In [36]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
import seaborn as sns; sns.set()

In [37]:
from datetime import datetime

now = datetime.now()

now.year, now.month, now.day, now.second

(2023, 12, 23, 43)

In [38]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

delta

datetime.timedelta(days=926, seconds=56700)

In [39]:
now

datetime.datetime(2023, 12, 23, 11, 17, 43, 778596)

In [40]:
delta.days

926

In [41]:
from datetime import timedelta

start = datetime.now()

start - datetime(2003, 11, 5)

datetime.timedelta(days=7353, seconds=40664, microseconds=212598)

In [42]:
stamp = datetime(2011, 1, 28)

str(stamp)

stamp.strftime("%D")

'01/28/11'

In [45]:
value = "2011-01-03"
datetime.strptime(value, r'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [46]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [51]:
idx = pd.to_datetime(datestrs + [None])

pd.isnull(idx[2])

True

In [52]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
          datetime(2011, 1, 7), datetime(2011, 1, 8),
          datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.standard_normal(6), index=dates)

ts

2011-01-02    0.806688
2011-01-05    0.525640
2011-01-07   -0.043514
2011-01-08   -0.313957
2011-01-10    1.512548
2011-01-12   -1.156047
dtype: float64

In [57]:
ts.index.dtype

dtype('<M8[ns]')

In [56]:
ts + ts[::2]

2011-01-02    1.613376
2011-01-05         NaN
2011-01-07   -0.087028
2011-01-08         NaN
2011-01-10    3.025097
2011-01-12         NaN
dtype: float64

In [58]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [63]:
ts['2011-01-08']

-0.31395675657666683

In [64]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                       index=pd.date_range("2000-01-01", periods=1000))

longer_ts

2000-01-01    0.064311
2000-01-02    0.487480
2000-01-03   -0.302846
2000-01-04    0.571434
2000-01-05    1.117420
                ...
2002-09-22   -0.226211
2002-09-23   -2.467397
2002-09-24    0.532919
2002-09-25    0.011509
2002-09-26   -0.458297
Freq: D, Length: 1000, dtype: float64

In [70]:
def get_month(x):
    return x.month

longer_ts.groupby(get_month).mean()

1    -0.120829
2    -0.008899
3     0.141747
4     0.057871
5    -0.027534
6     0.049218
7    -0.172064
8    -0.008038
9    -0.006013
10    0.170236
11   -0.250143
12   -0.016360
dtype: float64

In [68]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -0.043514
2011-01-08   -0.313957
2011-01-10    1.512548
dtype: float64