In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
import seaborn as sns; sns.set()

In [2]:
from datetime import datetime

now = datetime.now()

now.year, now.month, now.day, now.second

(2023, 12, 23, 13)

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

delta

datetime.timedelta(days=926, seconds=56700)

In [4]:
now

datetime.datetime(2023, 12, 23, 13, 58, 13, 450408)

In [5]:
delta.days

926

In [6]:
from datetime import timedelta

start = datetime.now()

start - datetime(2003, 11, 5)

datetime.timedelta(days=7353, seconds=50294, microseconds=442258)

In [7]:
stamp = datetime(2011, 1, 28)

str(stamp)

stamp.strftime("%D")

'01/28/11'

In [8]:
value = "2011-01-03"
datetime.strptime(value, r'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [10]:
idx = pd.to_datetime(datestrs + [None])

pd.isnull(idx[2])

True

In [11]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
          datetime(2011, 1, 7), datetime(2011, 1, 8),
          datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.standard_normal(6), index=dates)

ts

2011-01-02    1.724236
2011-01-05    1.766266
2011-01-07   -0.248374
2011-01-08   -1.214925
2011-01-10    1.769333
2011-01-12    1.406455
dtype: float64

In [12]:
ts.index.dtype

dtype('<M8[ns]')

In [13]:
ts + ts[::2]

2011-01-02    3.448471
2011-01-05         NaN
2011-01-07   -0.496749
2011-01-08         NaN
2011-01-10    3.538666
2011-01-12         NaN
dtype: float64

In [14]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [15]:
ts['2011-01-08']

-1.214924951584271

In [16]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                       index=pd.date_range("2000-01-01", periods=1000))

longer_ts

2000-01-01    1.351969
2000-01-02   -0.310401
2000-01-03   -0.775143
2000-01-04   -1.157649
2000-01-05    0.093971
                ...
2002-09-22    1.447444
2002-09-23   -0.148563
2002-09-24   -0.055269
2002-09-25   -0.112910
2002-09-26    0.931899
Freq: D, Length: 1000, dtype: float64

In [17]:
def get_month(x):
    return x.month

longer_ts.groupby(get_month).mean()

1    -0.008790
2    -0.139394
3     0.136344
4    -0.106016
5     0.116741
6    -0.055970
7    -0.037274
8    -0.075905
9    -0.165069
10    0.198954
11    0.051652
12    0.062554
dtype: float64

In [18]:
ts[datetime(2011, 1, 7):datetime(2011, 1, 10)]

2011-01-07   -0.248374
2011-01-08   -1.214925
2011-01-10    1.769333
dtype: float64

In [19]:
ts

2011-01-02    1.724236
2011-01-05    1.766266
2011-01-07   -0.248374
2011-01-08   -1.214925
2011-01-10    1.769333
2011-01-12    1.406455
dtype: float64

In [20]:
resampler = ts.resample('D')

In [29]:
index = pd.date_range("2012-04-01", "2012-06-01", freq='350H')
index

DatetimeIndex(['2012-04-01 00:00:00', '2012-04-15 14:00:00',
               '2012-04-30 04:00:00', '2012-05-14 18:00:00',
               '2012-05-29 08:00:00'],
              dtype='datetime64[ns]', freq='350H')

In [32]:
ts.shift(1)

2011-01-02         NaN
2011-01-05    1.724236
2011-01-07    1.766266
2011-01-08   -0.248374
2011-01-10   -1.214925
2011-01-12    1.769333
dtype: float64