Note: Budget numbers for movies can be both difficult to find and unreliable. Studios and film-makers often try to keep the information secret and will use accounting tricks to inflate or reduce announced budgets.

This chart shows the budget of every film in our database, where we have it. The data we have is, to the best of our knowledge, accurate but there are gaps and disputed figures.

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
from datetime import datetime
from io import StringIO
import re

### Get the links

In [243]:
'''
This function finds all links of all the movies in a table and create a list
'''

def get_links(table):
    links = []
    for i in range(len(table.find_all('tr')) -1):
        i += 1
        try:
            messy = table.find_all('tr')[i].find_all('td')[-4]
            links.append(messy.find('a',href=True)['href'])
        except:
            links.append(None)
    
    return links

### Get the description column

In [258]:
'''
This function finds the gross profit and budget for the movie
'''

def get_profit(soup):
    try:
        table = soup.find_all(class_="infobox vevent")[0]
        budget = table.find_all('tr')[-2]
        proof = budget.find_all(class_ ='infobox-label')[0].get_text()
    except:
        return None, None
    if proof == 'Budget':
        budget = budget.find_all(class_ ='infobox-data')[0].get_text(strip=True)
        box_office = table.find_all('tr')[-1]
        box_office = box_office.find_all(class_ ='infobox-data')[0].get_text(strip=True)
        return budget, box_office

    else:
        return None, None

In [254]:
'''
This function finds the genre of the movie and calls
the get_profit so to find also the gross profit and budget for the movie
'''

pattern3 = r'\d{4} [A-Z]\w+([^\d\.]+) film[\s\[]'
pattern4 = r'\d{4} ([^\d\.]+) film[\s\[]'

def get_descr(x):

    try:
        x = r'https://en.wikipedia.org' + x
        r1 = requests.get(x)
    except:
        return [None, None, None]

    if r1.status_code==200:
        r2 = r1
        r1.close()
        soup1_2 = BeautifulSoup(r2.content, 'html.parser')

        budget, box_office = get_profit(soup1_2)

        first_line = soup1_2.find_all('p')[0].get_text(strip=False)
        print('-', end='')
        if len(first_line) < 75:
            first_line = soup1_2.find_all('p')[1].get_text(strip=False)
        result = re.findall(pattern3, first_line)

        if len(result) > 0:
            return [result[0],budget, box_office]
        
        else:
            result = re.findall(pattern4, first_line)
            if len(result) > 0:
                return [result[0],budget, box_office]
            else:
                return [None,budget, box_office]
    else:
        return [None,budget, box_office]

### Convert the months to numbers

In [195]:
def months_to_number(x):
    return months[x]

months = {'January':1, 'February':2, 'March':3,
          'April':4, 'May':5, 'June':6, 'July':7,
          'August':8,'September':9, 'October':10,
          'November':11, 'December':12}

## Scrape the whole page

In [212]:
def scrape_whole_page(url):

    # Initialize the request
    r = requests.get(url)
    if r.status_code != 200:
        print('Bad request.')
        return None
    
    # Parse the html page 
    soup1 = BeautifulSoup(r.content, 'html.parser')
    tables = soup1.find_all('table')
    tables = tables[2:6]

    # Get all the movie links of the page
    all_links = {}
    for t in range(len(tables)):
        links = get_links(tables[t])
        all_links[t] = links
    
    # Adjust all the df and add the link column
    all_df = pd.read_html(StringIO(str(tables)))
    result_df = {}
    for n,d in enumerate(all_df):
        d.rename(columns={'Opening':'Month', 'Opening.1':'Day'}, inplace=True)
        d = d[['Month', 'Day', 'Title']].copy().dropna(thresh=3)
        d['Month'] = d['Month'].str.replace(' ', '').str.capitalize()
        d['Link'] = all_links[n]
    
        d['List'] = d['Link'].apply(get_descr)
        result_df[n] = d
        print('\nTable done!\n')

    print('\nPAGE DONE!!!\n')
    return result_df


#df3 = scrape_whole_page(r'https://en.wikipedia.org/wiki/List_of_American_films_of_2015')

## Test section

In [261]:
r = requests.get(r'https://en.wikipedia.org/wiki/List_of_American_films_of_2017')
r.status_code

200

In [ ]:
soup1 = BeautifulSoup(r.content, 'html.parser')
tables = soup1.find_all('table')

In [277]:
tables[3] = str(tables[3]).replace('q', '')

In [283]:
pd.read_html(StringIO(str(tables[-1])))

[            Opening  Opening.1                                      Title  \
 0     O C T O B E R          6                          Blade Runner 2049
 1     O C T O B E R          6                    The Mountain Between Us
 2     O C T O B E R          6                  My Little Pony: The Movie
 3     O C T O B E R          6                        The Florida Project
 4     O C T O B E R          6                     Brawl in Cell Block 99
 5     O C T O B E R         13                            Happy Death Day
 6     O C T O B E R         13                                   Marshall
 7     O C T O B E R         13                                    Breathe
 8     O C T O B E R         13                             Carving a Life
 9     O C T O B E R         13     Professor Marston and the Wonder Women
 10    O C T O B E R         13                                Blood Money
 11    O C T O B E R         20                                   Geostorm
 12    O C T O B E R         20                             Only the Brave
 13    O C T O B E R         20                                The Snowman
 14    O C T O B E R         20                   Boo 2! A Madea Halloween
 15    O C T O B E R         20               Same Kind of Different as Me
 16    O C T O B E R         20                                Leatherface
 17    O C T O B E R         20                               Wonderstruck
 18    O C T O B E R         21                             The Playground
 19    O C T O B E R         27                 Thank You for Your Service
 20    O C T O B E R         27                                 Suburbicon
 21    O C T O B E R         27                                     Jigsaw
 22    O C T O B E R         27                                  Novitiate
 23    O C T O B E R         27                           All I See Is You
 24    O C T O B E R         28                  Amityville: The Awakening
 25  N O V E M B E R          3                             Thor: Ragnarok
 26  N O V E M B E R          3                       A Bad Moms Christmas
 27  N O V E M B E R          3                           Last Flag Flying
 28  N O V E M B E R          3                                  Lady Bird
 29  N O V E M B E R         10               Murder on the Orient Express
 30  N O V E M B E R         10                             Daddy's Home 2
 31  N O V E M B E R         10                                        LBJ
 32  N O V E M B E R         10  Three Billboards Outside Ebbing, Missouri
 33  N O V E M B E R         10                                     Mayhem
 34  N O V E M B E R         17                             Justice League
 35  N O V E M B E R         17                                   The Star
 36  N O V E M B E R         17                                     Wonder
 37  N O V E M B E R         17                                  Cook Off!
 38  N O V E M B E R         17                              Mr. Roosevelt
 39  N O V E M B E R         17                       Roman J. Israel, Es.
 40  N O V E M B E R         22                                       Coco
 41  N O V E M B E R         24                       Call Me by Your Name
 42  D E C E M B E R          1                        The Disaster Artist
 43  D E C E M B E R          1                         The Shape of Water
 44  D E C E M B E R          1                               Wonder Wheel
 45  D E C E M B E R          8                                   I, Tonya
 46  D E C E M B E R          8                       Just Getting Started
 47  D E C E M B E R         15                   Star Wars: The Last Jedi
 48  D E C E M B E R         15                                  Ferdinand
 49  D E C E M B E R         15                             Beyond Skyline
 50  D E C E M B E R         20             Jumanji: Welcome to the Jungle
 51  D E C E M B E R         20                       The Greatest Showman
 52  D E C E M B E R         22                            Pitch Perfect 3
 53  D E C E M B E R         22                                 Downsizing
 54  D E C E M B E R         22                             Father Figures
 55  D E C E M B E R         22                                   The Post
 56  D E C E M B E R         22                                     Bright
 57  D E C E M B E R         22                              Crooked House
 58  D E C E M B E R         22                                   Hostiles
 59  D E C E M B E R         25                 All the Money in the World
 60  D E C E M B E R         25                               Molly's Game
 61  D E C E M B E R         25                             Phantom Thread

                                    Production company  \
 0   Warner Bros. Pictures / Alcon Entertainment / ...
 1            20th Century Fox / Chernin Entertainment
 2                          Lionsgate / Hasbro Studios
 3                                                 A24
 4                                  RLJE Entertainment
 5          Universal Pictures / Blumhouse Productions
 6                                     Open Road Films
 7   Bleecker Street / Participant Media / The Imag...
 8                                        Indie Rights
 9                                  Annapurna Pictures
 10                                        Saban Films
 11  Warner Bros. Pictures / Skydance Media / RatPa...
 12                                  Columbia Pictures
 13  Universal Pictures / Perfect World Pictures / ...
 14                    Lionsgate / Tyler Perry Studios
 15       Paramount Pictures / Pure Flix Entertainment
 16             Lionsgate / Millennium Films / DirecTV
 17              Amazon Studios / Roadside Attractions
 18                 SplitWorld Pictures / Indie Rights
 19  Universal Pictures / DreamWorks Pictures / Rel...
 20                                 Paramount Pictures
 21                 Lionsgate Films / Twisted Pictures
 22                             Sony Pictures Classics
 23        Open Road Films / SC International Pictures
 24            Dimension Films / Blumhouse Productions
 25                                     Marvel Studios
 26        STX Entertainment / Huayi Brothers Pictures
 27                         Lionsgate / Amazon Studios
 28                                                A24
 29  20th Century Fox / Genre Films / Scott Free Pr...
 30      Paramount Pictures / Gary Sanchez Productions
 31                             Electric Entertainment
 32                           Fox Searchlight Pictures
 33                                         RLJE Films
 34  Warner Bros. Pictures / RatPac Entertainment /...
 35  Columbia Pictures / Sony Pictures Animation / ...
 36       Lionsgate / Participant Media / Walden Media
 37                                 Lionsgate Premiere
 38                                            Paladin
 39  Columbia Pictures / Cross Creek Pictures / Ima...
 40     Walt Disney Pictures / Pixar Animation Studios
 41                             Sony Pictures Classics
 42              A24 / New Line Cinema / Good Universe
 43                           Fox Searchlight Pictures
 44                                     Amazon Studios
 45                                               Neon
 46                               Broad Green Pictures
 47                                     Lucasfilm Ltd.
 48                20th Century Fox / Blue Sky Studios
 49                             Vertical Entertainment
 50        Columbia Pictures / Seven Bucks Productions
 51  20th Century Fox / TSG Entertainment / Chernin...
 52  Universal Pictures / Perfect World Pictures / ...
 53                                 Paramount Pictures
 54  Warner Bros. Pictures / Alcon Entertainment / ...
 55  20th Century Fox / DreamWorks Pictures / Ambli...
 56                                            Netflix
 57             Vertical Entertainment / Sony Pictures
 58                              Entertainment Studios
 59          TriStar Pictures / Scott Free Productions
 60                                  STX Entertainment
 61                Focus Features / Annapurna Pictures

                                         Cast and crew   Ref.
 0   Denis Villeneuve (director); Hampton Fancher, ...  [277]
 1   Hany Abu-Assad (director); Chris Weitz, J. Mil...  [278]
 2   Jayson Thiessen (director); Meghan McCarthy, R...  [279]
 3   Sean Baker (director/screenplay); Chris Bergoc...  [280]
 4   S. Craig Zahler (director/screenplay); Vince V...  [281]
 5   Christopher Landon (director); Scott Lobdell (...  [282]
 6   Reginald Hudlin (director); Michael Koskoff, J...  [283]
 7   Andy Serkis (director); William Nicholson (scr...  [284]
 8   Terry Ross (director); Lisa Bruhn (screenplay)...  [285]
 9   Angela Robinson (director/screenplay); Luke Ev...  [286]
 10  Lucky McKee (director); Jared Butler, Lars Nor...  [287]
 11  Dean Devlin (director/screenplay); Paul Guyot ...  [288]
 12  Joseph Kosinski (director); Ken Nolan, Eric Wa...  [289]
 13  Tomas Alfredson (director); Peter Straughan, H...  [290]
 14  Tyler Perry (director/screenplay); Tyler Perry...  [291]
 15  Michael Carney (director/screenplay); Ron Hall...  [292]
 16  Julien Maury, Alexandre Bustillo (directors); ...  [293]
 17  Todd Haynes (director); Brian Selznick (screen...  [294]
 18  Edreace Purmul (director/screenplay); Ramona F...  [295]
 19  Jason Hall (director/screenplay); Miles Teller...  [296]
 20  George Clooney (director/screenplay); Coen bro...  [297]
 21  The Spierig Brothers (directors); Josh Stolber...  [298]
 22  Maggie Betts (director/screenplay); Margaret Q...  [299]
 23  Marc Forster (director/screenplay); Sean Conwa...  [300]
 24  Franck Khalfoun (director/screenplay); Jennife...  [301]
 25  Taika Waititi (director); Eric Pearson, Craig ...  [302]
 26  Scott Moore, Jon Lucas (directors/screenplay);...  [303]
 27  Richard Linklater (director/screenplay); Darry...  [304]
 28  Greta Gerwig (director/screenplay); Saoirse Ro...  [305]
 29  Kenneth Branagh (director); Michael Green (scr...  [306]
 30  Sean Anders (director/screenplay), John Morris...  [307]
 31  Rob Reiner (director); Joey Hartstone (screenp...  [308]
 32  Martin McDonagh (director/screenplay); Frances...  [309]
 33  Joe Lynch (director); Matias Caruso (screenpla...  [310]
 34  Zack Snyder (director); Chris Terrio, Joss Whe...  [185]
 35  Timothy Reckart (director); Carlos Kotkin (scr...  [311]
 36  Stephen Chbosky (director/screenplay); Steven ...  [312]
 37  Cathryn Michon (director/screenplay); Guy Shal...  [313]
 38  Noël Wells (director/screenplay); Noël Wells, ...  [314]
 39  Dan Gilroy (director/screenplay), Denzel Washi...  [315]
 40  Lee Unkrich (director); Adrian Molina, Matthew...  [316]
 41  Luca Guadagnino (director); James Ivory (scree...  [317]
 42  James Franco (director); Scott Neustadter, Mic...  [318]
 43  Guillermo del Toro (director/screenplay); Vane...  [319]
 44  Woody Allen (director/screenplay); Jim Belushi...  [320]
 45  Craig Gillespie (director); Steven Rogers (scr...  [321]
 46  Ron Shelton (director/screenplay); Morgan Free...  [322]
 47  Rian Johnson (director/screenplay); Mark Hamil...  [323]
 48  Carlos Saldanha (director); Robert L. Baird, T...  [324]
 49  Liam O'Donnell (director/screenplay); Frank Gr...  [325]
 50  Jake Kasdan (director); Chris McKenna, Erik So...  [326]
 51  Michael Gracey (director); Jenny Bicks, Bill C...  [327]
 52  Trish Sie (director); Kay Cannon, Mike White (...  [328]
 53  Alexander Payne (director/screenplay); Jim Tay...  [329]
 54  Lawrence Sher (director); Justin Malen (screen...  [330]
 55  Steven Spielberg (director); Josh Singer, Liz ...  [331]
 56  David Ayer (director); Max Landis (screenplay)...  [332]
 57  Gilles Pauet-Brenner (director/screenplay); Ju...  [333]
 58  Scott Cooper (director/screenplay); Christian ...  [334]
 59  Ridley Scott (director); David Scarpa (screenp...  [335]
 60  Aaron Sorkin (director/screenplay); Jessica Ch...  [336]
 61  Paul Thomas Anderson (director/screenplay); Da...  [337]  ]

In [264]:
soup1 = BeautifulSoup(r.content, 'html.parser')
tables = soup1.find_all('table')
tables = tables[2:6]

get_links(tables[0])

['/wiki/Underworld:_Blood_Wars',
 '/wiki/Arsenal_(2017_film)',
 '/wiki/Between_Us_(2016_film)',
 '/wiki/Monster_Trucks_(film)',
 '/wiki/The_Bye_Bye_Man',
 '/wiki/Sleepless_(2017_film)',
 '/wiki/The_Book_of_Love_(2016_film)',
 '/wiki/Split_(2016_American_film)',
 '/wiki/XXX:_Return_of_Xander_Cage',
 '/wiki/The_Resurrection_of_Gavin_Stone',
 '/wiki/Trespass_Against_Us',
 '/wiki/Sophie_and_the_Rising_Sun_(film)',
 '/wiki/A_Dog%27s_Purpose_(film)',
 '/wiki/Resident_Evil:_The_Final_Chapter',
 '/wiki/Lost_in_Florence',
 '/wiki/I_Am_Michael',
 '/wiki/IBoy',
 '/wiki/Rings_(2017_film)',
 '/wiki/The_Space_Between_Us_(film)',
 '/wiki/Youth_in_Oregon',
 '/wiki/I_Am_Not_Your_Negro',
 '/wiki/Growing_Up_Smith',
 '/wiki/The_Lego_Batman_Movie',
 '/wiki/Fifty_Shades_Darker_(film)',
 '/wiki/John_Wick:_Chapter_2',
 '/wiki/Bornless_Ones',
 '/wiki/The_Great_Wall_(film)',
 '/wiki/A_Cure_for_Wellness',
 '/wiki/Fist_Fight',
 '/wiki/American_Fable',
 '/wiki/XX_(film)',
 '/wiki/Lovesong_(film)',
 '/wiki/Get_Out',
 '/wiki/Rock_Dog',
 '/wiki/Collide_(2016_film)',
 '/wiki/I_Don%27t_Feel_at_Home_in_This_World_Anymore',
 '/wiki/Contemporary_Color_(film)',
 '/wiki/Logan_(film)',
 '/wiki/The_Shack_(2017_film)',
 '/wiki/Before_I_Fall_(film)',
 '/wiki/Table_19',
 '/wiki/The_Last_Word_(2017_film)',
 '/wiki/Catfight_(film)',
 '/wiki/Donald_Cried',
 '/wiki/Kong:_Skull_Island',
 '/wiki/Burning_Sands_(2017_film)',
 '/wiki/Beauty_and_the_Beast_(2017_film)',
 '/wiki/The_Belko_Experiment',
 '/wiki/Song_to_Song',
 '/wiki/Atomica_(film)',
 '/wiki/All_Nighter_(film)',
 '/wiki/The_Devil%27s_Candy',
 '/wiki/Power_Rangers_(film)',
 '/wiki/Life_(2017_film)',
 '/wiki/CHiPs_(film)',
 '/wiki/Wilson_(2017_film)',
 '/wiki/Car_Dogs',
 '/wiki/The_Marine_5:_Battleground',
 '/wiki/Ghost_in_the_Shell_(2017_film)',
 '/wiki/The_Boss_Baby',
 '/wiki/The_Zookeeper%27s_Wife_(film)',
 '/wiki/The_Blackcoat%27s_Daughter',
 '/wiki/The_Discovery_(film)',
 '/wiki/Carrie_Pilby_(film)']

### 2015 - 2016

In [214]:
all_years_df = {}

for year in np.arange(2015,2017):
    url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_' + str(year)
    
    all_years_df[year] = scrape_whole_page(url)

-------------------------------------------------------------
Table done!

--------------------------------------------
Table done!

---------------------------------------------
Table done!

---------------------------------------------------
Table done!


PAGE DONE!!!

---------------------------------------------
Table done!

-----------------------------------------
Table done!

---------------------------------------------
Table done!

----------------------------------------------
Table done!


PAGE DONE!!!

### 2017
This had a problem with the last table. I didn't understand the problem, so I took out that table. It's a tradeoff I'm willing to make.

In [293]:
def scrape_whole_page_2017(url):

    # Initialize the request
    r = requests.get(url)
    if r.status_code != 200:
        print('Bad request.')
        return None
    
    # Parse the html page 
    soup1 = BeautifulSoup(r.content, 'html.parser')
    tables2 = soup1.find_all('table')
    tables2 = tables2[2:5]
    

    # Get all the movie links of the page
    all_links = {}
    for t in range(len(tables2)):
        links = get_links(tables2[t])
        all_links[t] = links
    
    # Adjust all the df and add the link column
    all_df = pd.read_html(StringIO(str(tables2)))
    result_df = {}
    for n,d in enumerate(all_df):
        d.rename(columns={'Opening':'Month', 'Opening.1':'Day'}, inplace=True)
        d = d[['Month', 'Day', 'Title']].copy().dropna(thresh=3)
        d['Month'] = d['Month'].str.replace(' ', '').str.capitalize()
        d['Link'] = all_links[n]
    
        d['List'] = d['Link'].apply(get_descr)
        result_df[n] = d
        print('\nTable done!\n')

    print('\nPAGE DONE!!!\n')
    return result_df

all_years_df[2017] = scrape_whole_page_2017(r'https://en.wikipedia.org/wiki/List_of_American_films_of_2017')

----------------------------------------------------------------
Table done!

-----------------------------------------------------------
Table done!

-----------------------------------------------------
Table done!


PAGE DONE!!!

### 2018-2019

In [218]:
for year in np.arange(2018,2020):
    url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_' + str(year)
    
    all_years_df[year] = scrape_whole_page(url)

-----------------------------------------------------------
Table done!

--------------------------------------------------------
Table done!

------------------------------------------------------------------
Table done!

------------------------------------------------------------
Table done!


PAGE DONE!!!

-------------------------------------------------
Table done!

-------------------------------------------------------------------
Table done!

-----------------------------------------------------------
Table done!

-----------------------------------------------------------------------
Table done!


PAGE DONE!!!

### 2020

In [256]:
all_years_df[2020] = scrape_whole_page(r'https://en.wikipedia.org/wiki/List_of_American_films_of_2020')

----------------------------------------------------------
Table done!

-----------------------------------------------
Table done!

----------------------------------------------------------------------
Table done!

---------------------------------------------------------------------------------------------------
Table done!


PAGE DONE!!!

### 2021
This was different becase it has one tab more than the others

In [259]:
def scrape_whole_page_2021(url):

    # Initialize the request
    r = requests.get(url)
    if r.status_code != 200:
        print('Bad request.')
        return None
    
    # Parse the html page 
    soup1 = BeautifulSoup(r.content, 'html.parser')
    tables = soup1.find_all('table')
    tables = tables[3:7]

    # Get all the movie links of the page
    all_links = {}
    for t in range(len(tables)):
        links = get_links(tables[t])
        all_links[t] = links
    
    # Adjust all the df and add the link column
    all_df = pd.read_html(StringIO(str(tables)))
    result_df = {}
    for n,d in enumerate(all_df):
        d.rename(columns={'Opening':'Month', 'Opening.1':'Day'}, inplace=True)
        d = d[['Month', 'Day', 'Title']].copy().dropna(thresh=3)
        d['Month'] = d['Month'].str.replace(' ', '').str.capitalize()
        d['Link'] = all_links[n]
    
        d['List'] = d['Link'].apply(get_descr)
        result_df[n] = d
        print('\nTable done!\n')

    print('\nPAGE DONE!!!\n')
    return result_df

all_years_df[2021] = scrape_whole_page_2021(r'https://en.wikipedia.org/wiki/List_of_American_films_of_2021')

--------------------------------------------------------------------
Table done!

----------------------------------------------------------------------------------
Table done!

---------------------------------------------------------------------------------------------------------
Table done!

-------------------------------------------------------------------------------------------------
Table done!


PAGE DONE!!!

### 2022

In [295]:
all_years_df[2022] = scrape_whole_page(r'https://en.wikipedia.org/wiki/List_of_American_films_of_2022')

--------------------------------------------------------------
Table done!

-----------------------------------------------------------------------
Table done!

-------------------------------------------------------------------------------------------
Table done!

---------------------------------------------------------------------------------------
Table done!


PAGE DONE!!!

In [296]:
all_years_df.keys()

dict_keys([2015, 2016, 2018, 2019, 2020, 2021, 2017, 2022])

## Cleaning

In [321]:
all_years_df[2015].keys()

dict_keys([0, 1, 2, 3])

In [320]:
all_df = all_years_df[2015][0].iloc[0:2]
all_df = all_df.drop([0,1])
all_df = all_df._append(all_years_df[2015][0])
all_df.head()

,Month,Day,Title,Link,List
0,January,2,The Woman in Black: Angel of Death,/wiki/The_Woman_in_Black:_Angel_of_Death,"[supernatural horror, $15 million[6], $48.9 mi..."
1,January,9,Taken 3,/wiki/Taken_3,"[-language French action-thriller, $48 million..."
2,January,9,Let's Kill Ward's Wife,/wiki/Let%27s_Kill_Ward%27s_Wife,"[ black comedy, None, None]"
3,January,14,Match,/wiki/Match_(film),"[ drama, None, None]"
4,January,16,Blackhat,/wiki/Blackhat_(film),"[ action thriller, $70 million[3], $19.7 milli..."

In [323]:
all_df = all_years_df[2015][0].iloc[0:2]
all_df = all_df.drop([0,1])

for n in all_years_df.keys():
    for i in all_years_df[n].keys():
        all_years_df[n][i]['Year'] = n
        all_df = all_df._append(all_years_df[n][i])

all_df.shape

(1990, 6)

In [325]:
all_df = all_df.reset_index(drop=True)
all_df['Month'] = all_df['Month'].apply(months_to_number)
all_df.head()

,Month,Day,Title,Link,List,Year
0,1,2.0,The Woman in Black: Angel of Death,/wiki/The_Woman_in_Black:_Angel_of_Death,"[supernatural horror, $15 million[6], $48.9 mi...",2015.0
1,1,9.0,Taken 3,/wiki/Taken_3,"[-language French action-thriller, $48 million...",2015.0
2,1,9.0,Let's Kill Ward's Wife,/wiki/Let%27s_Kill_Ward%27s_Wife,"[ black comedy, None, None]",2015.0
3,1,14.0,Match,/wiki/Match_(film),"[ drama, None, None]",2015.0
4,1,16.0,Blackhat,/wiki/Blackhat_(film),"[ action thriller, $70 million[3], $19.7 milli...",2015.0

In [326]:
all_df['Genres'] = all_df['List'].str.get(0)
all_df['Budget'] = all_df['List'].str.get(1)
all_df['Box office'] = all_df['List'].str.get(2)
all_df.tail()

,Month,Day,Title,Link,List,Year,Genres,Budget,Box office
1985,12,23.0,Whitney Houston: I Wanna Dance with Somebody,/wiki/Whitney_Houston:_I_Wanna_Dance_with_Some...,"[ biographical musical drama, $45 million[1], ...",2022.0,biographical musical drama,$45 million[1],$59.8 million[2][3]
1986,12,23.0,The Pale Blue Eye,/wiki/The_Pale_Blue_Eye,"[ mystery thriller, None, None]",2022.0,mystery thriller,None,None
1987,12,23.0,Women Talking,/wiki/Women_Talking_(film),"[drama, None, None]",2022.0,drama,None,None
1988,12,29.0,A Man Called Otto,/wiki/A_Man_Called_Otto,"[ comedy-drama, $50 million, $113.2 million[1]]",2022.0,comedy-drama,$50 million,$113.2 million[1]
1989,12,30.0,"Alice, Darling","/wiki/Alice,_Darling","[psychological thriller, None, None]",2022.0,psychological thriller,None,None

In [331]:
mask1 = all_df['Budget'].isna()
mask2 = all_df['Box office'].isna()

mask3 = (mask1 | mask2)
all_df = all_df[~mask3]

In [333]:
mask1 = all_df['Genres'].isna()
all_df = all_df[~mask1]
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1032 entries, 0 to 1988
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       1032 non-null   int64
 1   Day         1032 non-null   float64
 2   Title       1032 non-null   object
 3   Link        1032 non-null   object
 4   List        1032 non-null   object
 5   Year        1032 non-null   float64
 6   Genres      1032 non-null   object
 7   Budget      1032 non-null   object
 8   Box office  1032 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 80.6+ KB

In [334]:
all_df.to_csv(r'C:\Users\matte\OneDrive\Desktop\GitHub\jup_lab\movies_profi.csv',index=False)