In [1]:
# Bowl 1 --> 30 V, 10 C
# Bowl 2 --> 20 V, 20 C

(0.5) * (30/40) / (0.5*30/40+0.5*20/40)

0.6

In [4]:
import pandas as pd

table = pd.DataFrame(index=['Bowl 1', 'Bowl 2'])

In [5]:
table['prior'] = 1/2, 1/2
table

        prior
Bowl 1    0.5
Bowl 2    0.5

In [6]:
table['likelihood'] = 3/4, 1/2
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl 2    0.5        0.50

In [7]:
table['unnorm'] = table['prior'] * table['likelihood']
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl 2    0.5        0.50   0.250

In [8]:
prob_data = table['unnorm'].sum()
prob_data

0.625

In [9]:
table['posterior'] = table['unnorm'] / prob_data
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl 2    0.5        0.50   0.250        0.4

In [13]:
from fractions import Fraction

table2 = pd.DataFrame(index=[6, 8, 12])
# P(S6|1)
table2['prior'] = Fraction(1, 3)
table2['likelihood'] = Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [14]:
def update(table):
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [15]:
update(table2)
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

In [16]:
#P(C|D)
table3 = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
table3['prior'] = Fraction(1, 3)
table3

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [17]:
table3['likelihood'] = Fraction(1, 2), 1, 0
table3

       prior likelihood
Door 1   1/3        1/2
Door 2   1/3          1
Door 3   1/3          0

In [18]:
update(table3)
table3

       prior likelihood unnorm posterior
Door 1   1/3        1/2    1/6       1/3
Door 2   1/3          1    1/3       2/3
Door 3   1/3          0      0         0

In [19]:
# P(C|H)

table = pd.DataFrame(index=['Fair','Unfair'])
table['prior'] = Fraction(1, 2)
table['likelihood'] = Fraction(1, 2), 1
table

       prior likelihood
Fair     1/2        1/2
Unfair   1/2          1

In [20]:
update(table)
table

       prior likelihood unnorm posterior
Fair     1/2        1/2    1/4       1/3
Unfair   1/2          1    1/2       2/3

In [30]:
Fraction(1,2) * Fraction(1,5) / (Fraction(1,2)*Fraction(1,5) + Fraction(1,2) * Fraction(14,100))

Fraction(10, 17)

In [31]:
Fraction(1,2) * Fraction(1,10) / (Fraction(1,2)*Fraction(1, 10) + Fraction(1,2) * Fraction(20,100))

Fraction(1, 3)

In [32]:
Fraction(10,17) * Fraction(2,3) * Fraction(10,17)

Fraction(200, 867)

In [33]:
Fraction(200, 867) * Fraction(10, 17) / Fraction(2, 3)

Fraction(1000, 4913)