In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd

# use seaborn plotting defaults
import seaborn as sns; sns.set()

In [2]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [3]:
pd.get_dummies(df['key'], prefix='kkk', dtype=float)

   kkk_a  kkk_b  kkk_c
0    0.0    1.0    0.0
1    0.0    1.0    0.0
2    1.0    0.0    0.0
3    0.0    0.0    1.0
4    1.0    0.0    0.0
5    0.0    1.0    0.0

In [9]:
url = r'C:\Users\matte\OneDrive\Desktop\GitHub\data\movie_lens_1M\ml-1m\movies.dat'

mnames = ["movie_id", "title", "genres"]

movies = pd.read_table(url, sep="::", header=None, names=mnames,
                       engine="python", encoding='latin-1')
movies.iloc[3114]

movie_id                         3183
title       Third Miracle, The (1999)
genres                          Drama
Name: 3114, dtype: object

In [13]:
movies['genres'].str.get_dummies('|').add_prefix('Genre_')

,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Crime,Genre_Documentary,Genre_Drama,Genre_Fantasy,Genre_Film-Noir,Genre_Horror,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_War,Genre_Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3879,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3880,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3881,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3882,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [14]:
del movies

In [15]:
np.random.seed(12345)

values = np.random.uniform(size=10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [27]:
bins = pd.qcut(values, 4, precision=1)
pd.get_dummies(bins, dtype=float)

   (0.1, 0.4]  (0.4, 0.6]  (0.6, 0.7]  (0.7, 1.0]
0         0.0         0.0         0.0         1.0
1         1.0         0.0         0.0         0.0
2         1.0         0.0         0.0         0.0
3         1.0         0.0         0.0         0.0
4         0.0         1.0         0.0         0.0
5         0.0         1.0         0.0         0.0
6         0.0         0.0         0.0         1.0
7         0.0         0.0         1.0         0.0
8         0.0         0.0         0.0         1.0
9         0.0         0.0         1.0         0.0

In [28]:
val = "a,b,  guido"
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [33]:
strin = '::'.join(pieces)

In [35]:
strin.rfind(':::')

-1

In [46]:
import re

text = "My name is Matteo. My phone number is 3824521399. My email is peppa@gmail.com"

In [48]:
re.findall('\d{3}', text)

['382', '452', '139']

In [51]:
re.findall('\D{12}', text)

['My name is M',
 'atteo. My ph',
 'one number i',
 '. My email i',
 's peppa@gmai']

In [52]:
re.findall('\W', text)

[' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 '@',
 '.']

In [58]:
re.findall('\S{10}', text)

['3824521399', 'peppa@gmai']

In [60]:
re.findall('\A[A-Za-z]', text)

['M']

In [64]:
re.findall('[A-Za-z]$', text)

['m']

In [85]:
text += ' Lpeppap'
text

'My name is Matteo. My phone number is 3824521399. My email is peppa@gmail.com peppa peppa? peppap Lpeppap'

In [88]:
re.findall(r'\weppa', text)

['peppa', 'peppa', 'peppa', 'peppa', 'peppa']

In [89]:
text = 'My name is Matteo. My phone number is 3824521399. My email is peppa@gmail.com peppa peppa?'

In [93]:
re.findall(r'[a-z0-9]{5}', text)

['atteo',
 'phone',
 'numbe',
 '38245',
 '21399',
 'email',
 'peppa',
 'gmail',
 'peppa',
 'peppa']

In [96]:
re.findall(r'e.{3}l', text)

['email']

In [102]:
re.findall(r'\W$', text)

['?']

In [114]:
text

'My name is Matteo. My phone number is 3824521399. My email is peppa@gmail.com peppa peppa?'

In [128]:
re.findall(r'\?', text)

['?']