In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd

# use seaborn plotting defaults
import seaborn as sns; sns.set()

In [2]:
import re

text = 'My name is Matteo. My phone number is 3824521399. My email is peppa@gmail.com peppa peppa?'

In [14]:
re.findall(r'@\w*\.|\.\w', text)

['@gmail.']

In [29]:
re.findall(r'\.\w{2,4}', text)

['.com']

In [50]:
text = '''
My name is Mr. Neo. My phone number is 123-456-7890. My email is ChosenOne@gmail.com
My name is Mr. Morphius. My phone number is 413-234-2568. My email is CoolGuy@yahoo.com. 
My name is Mrs. Trinity. My phone number is 285-036-8215. My email is ChosenOnesGirl1@apple.com.
user@sub-domain.example.co.uk
+39 3924521399
'''

In [33]:
re.findall(r'@([a-zA-Z]+)', text)

['gmail', 'yahoo', 'apple']

In [34]:
re.findall(r'@\w+\.(\w{2,4})', text)

['com', 'com', 'com']

In [41]:
re.findall(r'@[\w\._%-]+', text)

['@gmail.com', '@yahoo.com.', '@apple.com.', '@sub-domain.example.co.uk']

In [44]:
re.findall(r'[\w_%-]+@[\w\._%-]+', text)

['ChosenOne@gmail.com',
 'CoolGuy@yahoo.com.',
 'ChosenOnesGirl1@apple.com.',
 'user@sub-domain.example.co.uk']

In [63]:
re.findall(r'\+[\d]{1,4}\s[\d-]{5,12}|[\d-]{5,12}', text)

['123-456-7890', '413-234-2568', '285-036-8215', '+39 3924521399']

In [64]:
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com",
         "Rob": "rob@gmail.com", "Wes": np.nan}

In [65]:
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [68]:
patterns = r'([\w-]+)@([\w-]+)\.([\w\.]{2,5})'

data.str.findall(patterns, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [72]:
matches = data.str.findall(patterns, flags=re.IGNORECASE)
matches

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [93]:
matches = matches.str.get(0)
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [98]:
data.str.extract(patterns, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN