In [1]:
import numpy as np

In [1]:
import pandas as pd

In [21]:
df = pd.read_csv(r'C:\Users\matte\OneDrive\Desktop\GitHub\data\COVID\covid_vacc.csv')
df.head()

  iso_code continent     location        date
0      AFG      Asia  Afghanistan  2020-01-05
1      AFG      Asia  Afghanistan  2020-01-06
2      AFG      Asia  Afghanistan  2020-01-07
3      AFG      Asia  Afghanistan  2020-01-08
4      AFG      Asia  Afghanistan  2020-01-09

In [9]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [22]:
df.head()

  iso_code continent     location        date
0      AFG      Asia  Afghanistan  2020-01-05
1      AFG      Asia  Afghanistan  2020-01-06
2      AFG      Asia  Afghanistan  2020-01-07
3      AFG      Asia  Afghanistan  2020-01-08
4      AFG      Asia  Afghanistan  2020-01-09

In [11]:
df.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376818 entries, 0 to 376817
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            376818 non-null  object
 1   continent                           358816 non-null  object
 2   location                            376818 non-null  object
 3   date                                376818 non-null  object
 4   population                          376818 non-null  float64
 5   total_cases                         338085 non-null  float64
 6   new_cases                           366116 non-null  float64
 7   new_cases_smoothed                  364886 non-null  float64
 8   total_deaths                        316113 non-null  float64
 9   new_deaths                          366124 non-null  float64
 10  new_deaths_smoothed                 364894 non-null  float64
 11  total_cases_per_million             338085 non-null  float64
 12  new_cases_per_million               366116 non-null  float64
 13  new_cases_smoothed_per_million      364886 non-null  float64
 14  total_deaths_per_million            316113 non-null  float64
 15  new_deaths_per_million              366124 non-null  float64
 16  new_deaths_smoothed_per_million     364894 non-null  float64
 17  reproduction_rate                   184817 non-null  float64
 18  icu_patients                        38394 non-null   float64
 19  icu_patients_per_million            38394 non-null   float64
 20  hosp_patients                       39885 non-null   float64
 21  hosp_patients_per_million           39885 non-null   float64
 22  weekly_icu_admissions               10569 non-null   float64
 23  weekly_icu_admissions_per_million   10569 non-null   float64
 24  weekly_hosp_admissions              23950 non-null   float64
 25  weekly_hosp_admissions_per_million  23950 non-null   float64
dtypes: float64(22), object(4)
memory usage: 74.7+ MB

In [19]:
for i in df.columns.to_list():
    print(f"'{i}' INT,")

'iso_code' INT,
'continent' INT,
'location' INT,
'date' INT,
'population' INT,
'total_cases' INT,
'new_cases' INT,
'new_cases_smoothed' INT,
'total_deaths' INT,
'new_deaths' INT,
'new_deaths_smoothed' INT,
'total_cases_per_million' INT,
'new_cases_per_million' INT,
'new_cases_smoothed_per_million' INT,
'total_deaths_per_million' INT,
'new_deaths_per_million' INT,
'new_deaths_smoothed_per_million' INT,
'reproduction_rate' INT,
'icu_patients' INT,
'icu_patients_per_million' INT,
'hosp_patients' INT,
'hosp_patients_per_million' INT,
'weekly_icu_admissions' INT,
'weekly_icu_admissions_per_million' INT,
'weekly_hosp_admissions' INT,
'weekly_hosp_admissions_per_million' INT,

In [13]:
df[['iso_code','date']].duplicated().value_counts()

False    376818
Name: count, dtype: int64